# fly.toml app configuration file generated for phuphiem-fe on 2025-12-04T04:38:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'phuphiem-fe'
primary_region = 'sin'

[build]

[env]
  NEXT_PUBLIC_AUTH_API_URL = "https://phuphiem-api.site/api/v1"
  NEXT_PUBLIC_API_URL = "https://phuphiem-api.site/api"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
